<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/boardcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/flot")
    @Scripts.Render("~/bundles/fx")
    @Scripts.Render("~/bundles/board")
    @Scripts.Render("~/bundles/boardconfig")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
